version: "1"

services:
  - type: web
    name: automatic-facial-recognition-attendance-system
    env: python
    region: oregon
    plan: free

    buildCommand: |
      pip install --upgrade pip
      pip install -r requirements.txt

    startCommand: |
      streamlit run app.py --server.port $PORT --server.address 0.0.0.0

    runtime: python3
